<p class='text-center lead'>
  All your projects are listed below:
</p>

<div class='main-content'>
  <div class='container'>
    <div class='row'>
      <div class='well'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Volume</th>
              <th>Amount Due</th>
              <th>Client Name</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %> 
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td><%= project.volume %></td>
              <td>USD <%= project.amount_due %></td>
              <td><%= project.client_name %></td>
              <td>01/03/2015 10:00 AM</td>
            </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    </div>
    <p class='lead text-center'>Record a new project: <button class='btn btn-primary btn-lg'>New Project </button></p>
  </div>
</div> 